/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.word{
  margin:10px 5px;
  padding: 5px 5px;
  border-radius: 3px;
}

.correct{
  color: #2e742e;
}

.wrong{
  color: red;
}

.currentWord{
  background-color: lightgray;
}

.currentWordWrong{
  background-color: red;
}
